/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-primary: 'Inter', 'Segoe UI', sans-serif;

    --h1: 48px;
    --h2: 32px;
    --h3: 22px;
    --body: 15px;
    --small: 13px;

    --lh-heading: 1.3;
    --lh-body: 1.8;

    --text-main: #eaeaea;
    --text-muted: #bfbfbf;
}

/* BODY */
body {
    font-family: var(--font-primary);
    background-color: #0f0f0f;
    color: var(--text-main);
}
h1, h2, h3 {
    font-weight: 400;
    line-height: var(--lh-heading);
    letter-spacing: 0.5px;
}

p {
    font-size: var(--body);
    line-height: var(--lh-body);
    color: var(--text-muted);
}
section {
    padding: 100px 0;
}

@media (max-width: 768px) {
    section {
        padding: 70px 0;
    }
}

/* CONTAINER */
.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HEADER */
.header {
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 1000;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 10px; /* slightly more breathing */
}

.logo img {
    width: 42px;   /* increased from ~28 */
    height: 42px;
    object-fit: contain;
}

.logo span {
    font-size: 26px;  /* increased from ~18 */
    letter-spacing: 1.5px;
    font-weight: 500;
}
@media (max-width: 768px) {

    .logo img {
        width: 36px;  /* increased from 24 */
        height: 36px;
    }

    .logo span {
        font-size: 22px; /* increased from 16 */
    }

}

/* NAV */
.nav a {
    margin-left: 30px;
    text-decoration: none;
    color: #eaeaea;
    font-size: 14px;
    position: relative;
}

/* NAV HOVER (Copper underline) */
.nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background: #b87333;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav a:hover::after {
    width: 100%;
}

/* HAMBURGER ICON */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 2px;
    background: #b87333;
    margin: 4px 0;
    transition: 0.3s;
}

@media (max-width: 768px) {

    /* Hide normal nav */
    .nav {
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background: #0f0f0f;
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 20px 0;
    }

    .nav a {
        margin: 15px 0;
        font-size: 16px;
    }

    /* Show hamburger */
    .hamburger {
        display: flex;
    }

}

.nav.active {
    display: flex;
}
html {
    scroll-behavior: smooth;
}

/* HERO */
.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.hero-sub {
    position: absolute;   /* 🔥 key */
    bottom: 40px;
    right: 5%;

    font-size: 12px;
    letter-spacing: 2px;
    color: #b87333;
    text-transform: uppercase;
}

/* IMAGE LAYER */
.hero-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/hero.png') center/cover no-repeat;
    filter: brightness(0.85);
}

/* DARK OVERLAY */
.hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(15,15,15,0.6),
        rgba(15,15,15,0.9)
    );
}

/* CONTENT */
.hero-content {
    position: absolute;   /* 🔥 important */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    z-index: 2;
}

/* TEXT */
.hero h1 {
    font-size: var(--h1);
    max-width: 780px;
    line-height: 1.3;
}

/* COPPER LINE DETAIL */
.hero h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background: #b87333;
    margin: 20px auto 0;
}
@media (max-width: 768px) {

    .hero {
        height: 90vh;
    }

    .hero h1 {
        font-size: 26px;
        padding: 0 20px;
        line-height: 1.4;
    }
    
    .hero-sub {
        bottom: 25px;
        right: 20px;
        font-size: 11px;
        letter-spacing: 1.5px;
    }
}

.section-line {
    width: 60px;
    height: 1px;
    background: #b87333;
    margin-bottom: 30px;
}

/* PHILOSOPHY SECTION */
.philosophy {
    background: #0f0f0f;
}

/* LAYOUT */
.philosophy-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
}

/* TEXT BLOCK */
.philosophy-text {
    width: 100%;

    /* animation */
    opacity: 0;
    transform: translateX(60px);
    transition: all 0.8s ease;
}

.philosophy-text.show {
    opacity: 1;
    transform: translateX(0);
}

/* HEADING */
.philosophy-text h2 {
    font-size: var(--h2);
    font-weight: 400;
    margin-bottom: 30px; /* spacing you wanted */
}

/* PARAGRAPH */
.philosophy-text p {
    font-size: var(--body);
    max-width: none;
    line-height: 1.9;
    color: #bfbfbf;
    margin-bottom: 15px;
}

@media (max-width: 768px) {

    .philosophy-container {
        flex-direction: column;
    }

    .philosophy-text {
        width: 100%;
        transform: translateX(30px);
    }

    .philosophy-space {
        display: none;
    }

    .philosophy-text h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .philosophy-text p {
        font-size: 14px;
        max-width: 100%;
    }
}

/* SERVICES */
.services {
    background: #0f0f0f;
}

/* EACH SERVICE BLOCK */
.service {
    display: flex;
    align-items: center;
    min-height: 70vh;
}

/* IMAGE */
.service-image {
    width: 50%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.service1 {
    background-image: url('../images/service1.png');
}

.service2 {
    background-image: url('../images/service2.png');
}

.service3 {
    background-image: url('../images/service3.png');
}

/* TEXT */
.service-text {
    width: 50%;
    padding: 50px; /* reduced from 60px */

    /* animation */
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.service-text.show {
    opacity: 1;
    transform: translateY(0);
}

.service-text h3 {
    position: relative;
    font-size: var(--h3);
}

.service-text h3::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    width: 10px;
    height: 1px;
    background: #b87333;
}

.service-text p {
      font-size: var(--body);
    color: #bfbfbf;
    line-height: 1.8;
    max-width: 420px; /* IMPORTANT: controls text width */
}

.service:nth-child(even) {
    flex-direction: row-reverse;
}
@media (max-width: 768px) {

    .service {
        flex-direction: column !important; /* override alternating */
        align-items: flex-start;
       min-height: auto;   /* 🔥 THIS is the main fix */
        height: auto;

        margin-bottom: 20px;
    }

    .service-image {
        width: 100%;
        height: 200px;
        margin-bottom: 15px;
    }

.service-text {
        width: 100%;
        padding: 0 20px 25px 20px;

        transform: translateY(25px); /* softer animation */
    }

    .service-text h3 {
        font-size: 22px;
        margin-bottom: 8px;
    }

    .service-text p {
        font-size: 14px;
        max-width: 100%;
    }

}

/* PROJECTS */
.projects {
    background: #0f0f0f;
    padding-top: 100px; 
}
.projects-header {
    width: 90%;
    margin: 0 auto 60px auto;
}

.projects-header h2 {
    font-size: 32px;
    font-weight: 400;
}
.project {
    position: relative;
    height: 75vh;
    overflow: hidden;

    display: block;          /* 🔥 ADD THIS */
    text-decoration: none;   /* 🔥 ADD THIS */
    color: inherit;          /* 🔥 ADD THIS */
}

/* IMAGE */
.project-image {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* ADD THIS */
.project-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(
        to top,
        rgba(15,15,15,0.7),
        rgba(15,15,15,0.2)
    );
}

/* OVERLAY TEXT */
.project-info {
    position: absolute;
    bottom: 60px;
    left: 5%;
    color: #eaeaea;

    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.project-info.show {
    opacity: 1;
    transform: translateY(0);
}

.project-info h3 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
}

.project-info p {
    font-size: 14px;
    color: #cfcfcf;
}

.project1 {
    background-image: url('../images/project1.png');
}

.project2 {
    background-image: url('../images/project2.png');
}

.project3 {
    background-image: url('../images/project3.png');
}

@media (max-width: 768px) {

    .project {
        height: 60vh;
        padding-top: 50px;
    }
    .projects-header {
        margin-bottom: 40px;
    }

    .projects-header h2 {
        font-size: 24px;
    }

    .project-info {
        bottom: 30px;
        left: 20px;
        right: 20px;
    }

    .project-info h3 {
        font-size: 22px;
    }

    .project-info p {
        font-size: 13px;
    }

}

/* PROCESS */
.process {
    background: #0f0f0f;
}

.process-container {
    width: 90%;
    margin: auto;
}

/* HEADER */
.process-header h2 {
     font-size: var(--h2);
    font-weight: 400;
    margin-bottom: 60px;
}

/* STEPS */
.process-steps {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.process-step {
    display: flex;
    align-items: flex-start;
    gap: 30px;

    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.process-step.show {
    opacity: 1;
    transform: translateY(0);
}

/* NUMBER */
.step-number {
    font-size: 22px;
    color: #b87333; /* copper */
    min-width: 40px;
}

/* TEXT */
.step-text h3 {
    font-size: var(--h3);
    font-weight: 400;
    margin-bottom: 10px;
}

.step-text p {
    font-size: 14px;
    color: #bfbfbf;
    line-height: 1.8;
    max-width: 500px;
}

@media (max-width: 768px) {

    .process-header h2 {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .process-step {
        gap: 20px;
    }

    .step-number {
        font-size: 20px;
    }

    .step-text h3 {
        font-size: 18px;
    }

    .step-text p {
        font-size: 13px;
        max-width: 100%;
    }

}
.materials {
    background: #0f0f0f;
}

.materials-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* TEXT */
.materials-text {
    width: 45%;
}

.materials-text h2 {
    font-size: var(--h2);
    margin-bottom: 25px;
}

.materials-text p {
    font-size: 15px;
    color: #bfbfbf;
    line-height: 1.9;
    margin-bottom: 15px;
}

/* GRID */
.materials-grid {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.material-item {
    height: 180px;
    background-size: cover;
    background-position: center;
}

/* HIDE MOBILE VERSION ON DESKTOP */
.materials-mobile {
    display: none;
}

@media (max-width: 768px) {

    .materials-container {
        flex-direction: column;
    }

    .materials-text {
        width: 100%;
        margin-bottom: 30px;
    }

    /* HIDE DESKTOP GRID */
    .materials-grid {
        display: none;
    }

    /* SHOW MOBILE VERSION */
    .materials-mobile {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 90%;
        margin: auto;
    }

    .material-card {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .material-img {
        width: 50%;
        height: 110px;
        background-size: cover;
        background-position: center;
    }

    .material-text {
        width: 50%;
    }

    .material-text h3 {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .material-text p {
        font-size: 12px;
        color: #bfbfbf;
        line-height: 1.4;
    }

}

.m1 { background-image: url('../images/mat1.jpg'); }
.m2 { background-image: url('../images/mat2.jpg'); }
.m3 { background-image: url('../images/mat3.png'); }
.m4 { background-image: url('../images/mat4.jpg'); }

/* CTA SECTION */
.cta {
    background: #0a0a0a; /* slightly darker than rest */
    text-align: center;
}

.cta-container {
    width: 90%;
    margin: auto;
    max-width: 700px;
}

/* TEXT */
.cta h2 {
    font-size: var(--h2);
    font-weight: 400;
    margin-bottom: 20px;
}

.cta p {
    font-size: 15px;
    color: #bfbfbf;
    line-height: 1.8;
    margin-bottom: 35px;
}

/* BUTTON */
.cta-btn {
    display: inline-block;
    padding: 12px 28px;
    border: 1px solid #b87333;
    color: #b87333;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
     position: relative;
    z-index: 5;
}

/* HOVER */
.cta-btn:hover {
    background: #b87333;
    color: #000;
}

@media (max-width: 768px) {

    .cta h2 {
        font-size: 24px;
    }

    .cta p {
        font-size: 14px;
    }

    .cta-btn {
        padding: 10px 22px;
        font-size: 13px;
    }

}
/* FOOTER */
.footer {
    background: #050505;
}

.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

/* LEFT */
.footer-brand {
    width: 40%;
}

.footer-brand h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-brand p {
    font-size: 14px;
    color: #bfbfbf;
    line-height: 1.7;
}

/* RIGHT */
.footer-links {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footer-col h4 {
    font-size: 14px;
    margin-bottom: 15px;
    color: #b87333; /* copper */
}

.footer-col a,
.footer-col p {
    display: block;
    font-size: 13px;
    color: #bfbfbf;
    margin-bottom: 8px;
    text-decoration: none;
}

/* HOVER */
.footer-col a:hover {
    color: #fff;
}

/* BOTTOM */
.footer-bottom {
    width: 90%;
    margin: 40px auto 0;
    border-top: 1px solid rgba(255,255,255,0.08);
    padding-top: 15px;
    text-align: center;
}

.footer-bottom p {
    font-size: 12px;
    color: #888;
}
@media (max-width: 768px) {

    .footer-container {
        flex-direction: column;
        gap: 30px;
    }

    .footer-brand,
    .footer-links {
        width: 100%;
    }

    .footer-links {
        flex-direction: column;
        gap: 20px;
    }

    .footer-col h4 {
        font-size: 13px;
    }

    .footer-col a,
    .footer-col p {
        font-size: 12px;
    }

}
@media (max-width: 768px) {

    :root {
        --h1: 26px;
        --h2: 24px;
        --h3: 18px;
        --body: 14px;
        --small: 12px;
    }

}
/* HERO */
.case-hero {
    position: relative;
    height: 80vh;
    margin-bottom: 60px;
}

.case-hero-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/project1.png') center/cover no-repeat;
}

.case-hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.case-hero-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.case-hero-content h1 {
    font-size: 36px;
}

.case-hero-content p {
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 1px;
}

/* CONTAINER */
.case-container {
    width: 80%;
    max-width: 900px;
    margin: auto;
}
.case-container p {
    font-size: 17px;
    line-height: 1.8;
    color: #cfcfcf;
}

/* SECTIONS */
.case-intro {
    margin-top: 60px;
}
.case-intent {
    padding: 60px 0;
}
.case-intent h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 400;
}
.case-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 80%;
    max-width: 1000px;
    margin: 80px auto;

    border-top: 1px solid rgba(255,255,255,0.1);
    padding-top: 40px;
}

/* GALLERY */
.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.gallery-img {
    height: 300px;
    background-size: cover;
    background-position: center;
}

.img1 { background-image: url('../images/project1.png'); }
.img2 { background-image: url('../images/project2.png'); }
.img3 { background-image: url('../images/project3.png'); }
.img4 { background-image: url('../images/project4.png'); }

/* DETAILS */
.case-details {
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center;
}
.detail h4 {
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #b87333;
    margin-bottom: 12px;
}
.detail p {
    font-size: 18px;
    line-height: 1.6;
    color: #e5e5e5;
}
/* CTA */
.case-cta {
    text-align: center;
    padding: 40px 0 80px;
}

.case-cta a {
    text-decoration: none;
    color: #b87333;
}
@media (max-width: 768px) {

    .case-hero {
        height: 60vh;
    }

    .gallery-grid {
        grid-template-columns: 1fr;
    }

    .case-details {
        flex-direction: column;
        gap: 20px;
    }

}
